body {
    background-color: rgb(80, 80, 80);
}
h1 {
    color: darkred;
}
h2 {
    color: darkgreen;
}
p {
    color: darkblue;
    width: 500px;
}
img {
    border-bottom: 100px;
    border-top: 100px;
}
nav {
    color: darkviolet;
}
iframe {
    border-bottom: 100px;
    border-top: 100px;
    max-width: 400%;
}
header {
    color: white;
}
footer {
    color: white;
}