h1 {
  font-family: 'Comic Sans MS';
  font-size: 30px;
  color: rgb(179, 0, 179);
}

body {
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: rgb(1, 1, 130);
}

.top-text {
  color: rgb(251, 108, 203);
}

.bottom-text {
  color: rgb(251, 108, 203);
}

#meme-canvas {
  width: 300px;
}